#burgir{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
span{
    width: 40px;
    transition: all 300ms ease-out;
    margin: 0.25em;
    position: relative;
    transform-origin: center;
    height: 3px;
    border-radius: 10px;
    background-color: white;
}
@media only screen and (max-width: 600px){
    #burgir{
        display: flex;
        margin-bottom: 1.25em;
    }
}