section, #button{
    transition: 500ms ease all;
}
#bruvkek, .img-container{
    transition: 500ms ease-in all;
}
.carousel, .img-container, .description, .controls, .controls button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 90%;
    perspective: 1000px;
}
.carousel > div{
    margin: 1em;
}
.img-container{
    width: 500px;
    overflow: hidden;
    justify-content: flex-start;
    transform: rotateY(25deg);
    box-shadow: 0px 0px 10px 1px black;
}
.img-container:hover{
    box-shadow: 5px 5px 300px -50px #419aff93;
}
.img-container img{
    width: 500px;
    transition: all 600ms ease;
    background-color: black;
}
.description{
    flex-direction: column;
    max-width: 40em;
}
.controls button{
    font-size: 2.5em;
    height: 20px;
    width: 50px;
    margin: 0.25em;
}
.inactive{
    transition: all 600ms ease;
    opacity: 0;
}
@media only screen and (max-width: 1250px){
    .carousel{
        width: 100%;
        flex-direction: column;
    }
    .img-container{
        transform: rotateX(-15deg);
    }
}